<h2>Show System</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @system.name %>
  </li>

</ul>

<span><%= link "Edit", to: system_path(@conn, :edit, @system) %></span>
<span><%= link "Back", to: system_path(@conn, :index) %></span>
